<!-- views/beranda.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Go-Blog - Simple CMS Blog</title>
</head>
<body>
  <h1>Selamat datang di Blog Saya yang acakadut :v</h1>
  <p>Ini adalah beranda dari blog.</p>
</body>
</html>
