<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Blog CMS - Beranda</title>
</head>
<body>
  <h1 style="text-align: center;">Selamat datang di Go Blog</h1>
  <p style="text-align: center;">"Aku lebih takut kepada (tipu daya) perempuan dari pada ketakutanku kepada setan"</p>
  <p style="text-align: center;"><i>~Hasyiah As-Shawi: 2/247~</i></p>
  
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h2><a href="/post/<%= post._id %>"><%= post.title %></a></h2>
        <p><%= post.content %></p>
        <p><em><%= post.date.toDateString() %></em></p>
      </li>
    <% }); %>
  </ul>
  
  <a href="/create">Buat Posting Baru</a>
</body>
</html>
